services:
  db:
    image: postgres:17.4
    secrets:
      - postgrespassword
    healthcheck:
      test: ["CMD", "pg_isready", "--username=postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgrespassword
    ports:
      - ${POSTGRES_PORT:-5432}
    volumes:
      - db_data:/var/lib/postgresql/data
  web:
    image: ${WEB_IMAGE:-ghcr.io/jeg2/kanban:latest}
    secrets:
      - databaseurl
      - secretkeybase
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      DATABASE_URL_FILE: /run/secrets/databaseurl
      SECRET_KEY_BASE_FILE: /run/secrets/secretkeybase
      PHX_HOST: "localhost"
    ports:
      - 4000:4000
    depends_on:
      - db
    command: >
      bash -c "bin/migrate && bin/server"
volumes:
  db_data:

secrets:
  postgrespassword:
    file: ./secrets/.postgrespassword
  databaseurl:
    file: ./secrets/.databaseurl
  secretkeybase:
    file: ./secrets/.secretkeybase
